/* body { 
    text-align: center; 
}

.button {
    background-color: #8981D1; 
    display:block;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
}

#route1{
    background-color: #1C66C5;
}

.button-start,
#btnstart{
    background-color: #21C51C;
}

#btnreset{
    background-color: red;
    display:block;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button-end,
#btnstop{
    background-color: #FF5E33; 
}

#btnViewTrip{
    background-color: #1C66C5;
}

#label1{
    background-color: white;
    display:block;
    border: none;
    color: #FF0808;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
}


.centering{
    display:flex;
    flex-direction: column;
} */